{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="modal-header">
  <a class="modal-dismiss pull-right" href="javascript://" data-dismiss="modal">
    <i class="fa fa-times black"></i>
  </a>
  <h2>Loading...</h2>
</div>
<div class="modal-body">
  <div class="modal-preload">
    <spinner toggle="true" size="large"></spinner>
  </div>
</div>
<div class="modal-footer">
</div>
